<div id="header-wrap">
  <div id="header">
    <h1><%= link_to image_tag("logo-insoshi.png"), home_url, 
        :title => "Homepage" %></h1>
    <ul id="nav">
      <%- menu.each do |link| -%>
        <%= menu_li link %>
      <%- end -%>
    </ul>
    <p class="welcome">
      <%- if person_signed_in? -%>
        Welcome, <%= h current_person.name %>!
        (<%= link_to "Sign out", destroy_person_session_path %>)
        <%- if current_person.admin? -%>
          <br />
          <%- if admin_view? -%>
            <%= link_to("Standard view", home_path) %>
          <%- else -%>
            <%= link_to("Admin view", admin_preferences_path) %>
          <%- end -%>
        <%- end -%>
      <%- else -%>
        <%= link_to "Sign in", new_person_session_path %> or
        <%= link_to "Sign up", new_person_registration_path %>
        <%- if Preference.global_prefs.can_send_email? -%>
        <%- end -%>             
      <%- end -%>
    </p>
  </div>
</div>